span.form-result-label= form_field.kpi.present? ? form_field.kpi.name : form_field.name
- unless result.blank?
  #age-graph.chart-area

  javascript:
    $('#age-graph').highcharts({
      chart: { type: 'bar' },
      title: { text: null },
      colors: ['#DFDFDF','#3E9CCF'],
      xAxis: {
          categories: #{result.keys.to_json.html_safe},
          title: {
              enabled: false
          },
          labels: {
            style: {color: '#3E9CCF; font-family:\'Lato\', sans-serif;'}
          },
          tickLength: 0,
          lineWidth: 0
      },
      tooltip: {enabled: false},
      yAxis: {
          max: 100,
          labels: { enabled: false },
          title: {text: false},
          gridLineColor: 'transparent',
          enabled: false
      },
      plotOptions: {
          bar: {
              dataLabels: {
                  enabled: false
              }
          },
          series: {
              stacking: 'percent',
              enableMouseTracking: false,
              pointPadding: 0,
              groupPadding: 0,
              borderWidth: 0,
              pointPadding: 0,
              pointWidth: 15,
              dataLabels: {
                  color: '#3E9CCF'
              }
          }
      },
      legend: { enabled: false },
      credits: { enabled: false },
      series: [{
          name: 'Fill in',
          data: #{result.values.map{|v|(100-v)}.to_json.html_safe},

      },{
          name: 'Values',
          data: #{result.values.map().to_json.html_safe},
          dataLabels: {
                  enabled: true,
                  format: '{y}%',
                  color: '#3E9CCF',
                  align: 'right',
                  x: 45,
                  y: -2,
                  style: { color: '#3E9CCF' }
              }

      }]
    });